MONGO_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_secret_key
PORT=4000
CLIENT_URL=http://localhost:5173
PRODUCTION_CLIENT_URL=https://client-five-kappa-68.vercel.app
SENDER_GMAIL=your_gmail@gmail.com
SENDER_GMAIL_PASSCODE=your_gmail_app_password
NODE_ENV=development
