MONGO_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_secret_key
PORT=4000
API_PUBLIC_URL=https://your-service-name.onrender.com
CLIENT_URL=http://localhost:5173
PRODUCTION_CLIENT_URL=https://tour-booking-website-using-mern.vercel.app
ALLOWED_ORIGINS=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SENDER_GMAIL=your_gmail@gmail.com
SENDER_GMAIL_PASSCODE=your_gmail_app_password
NODE_ENV=development
